@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    font-size:13px;
    color:#303033
}
a{
    text-decoration:none;
    color:#303033
}
a:hover{

}
img{
    vertical-align:middle;   
}
table,th,td{
    border:1px solid rgba(204, 204, 204, 0.7);
    border-collapse:collapse;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}





/* 헤더 */




header{
    width:100%;
    /* border:1px solid orange; */
    height:100px;
    color:black;
}
#header-container{
    width:100%;
    display:flex;
    justify-content:space-between;
    /* border:1px solid red; */
}
h1{
    width:200px;
    height:100px;
    padding-top:25px;
    padding-left:15px;
    /* border:1px solid black; */
}
h1 img{
    width:100%;
}
#desk-nav{
    display:none;

}
#icon-nav{
    width:170px;
    /* border:1px solid black; */
    padding-top:20px;
    text-align:center;
}
#icon-nav a{
    /* border:1px solid red; */
    display:inline-block;
    width:30px;
    height:30px;
    font-size:2.2rem;
    color:#505050;
    margin-right:8px;
}
#mobile-nav{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    right:-100%;
    transition:0.5s;
    visibility:hidden;
    z-index:99999;
}
#mobile-nav.active{
    right:0;
    visibility:visible;
}
.global-nav{
    background-color:white;
    width:80%;
    height:100%;
    float:right;
    display:flex;
    flex-direction:column;
    padding-top:130px;
    padding-left:40px;
    max-width:375px;
    position:relative;
    /* border:1px solid red; */

}
.global-nav>.m-menu>.m-drop-down>a{
    display:block;
}
.m-menu>a{
    font-size:1.1rem;
    color:black;
}
.arrow{
    font-size:1.8rem;
    position:absolute;
    top:0;
    right:0;
}
#m-menu-group{
    width:90%;
    /* border:1px solid red; */
    margin-top:50px;
}
.m-menu{
    margin-bottom:20px;
    width:100%;
    /* border:1px solid red; */
    position:relative;
}
.m-brand-pre{
    position:relative;
}
.m-preparing{
    position:absolute;
    top:-10px;
    left:95px;
    background-color:rgb(221, 239, 255); 
    padding:10px 15px 10px 15px;
    border-radius:15px;
    font-size:1rem;
    display:none;
}
.m-preparing:after{
    content:"";
    position:absolute;
    top:10px;
    left:-18px;
    border-style:solid;
    border-width:10px;
    border-color: transparent rgb(221, 239, 255) transparent transparent;
}
.m-drop-down{
    padding-top:20px;
    padding-left:30px;
    padding-bottom:5px;
    display:none;
}
.m-drop-down a{
    line-height:200%;
    display:block;
    font-size:1rem;
}
.m-close{
    position:absolute;
    top:20px;
    right:20px;
    border:none;
    background-color:transparent;
    font-size:2rem;
    /* border:1px solid black; */
}
.search{
    /* border:1px solid black; */
    position:absolute;
    top:80px;
    left:10%;
    display:flex;
    width:80%;
    justify-content:center;
    align-items:center;
}
input[name=s-box]{
    font-size:1.8rem;
    border-style:none none solid none;
}
#s-txt{
    display:none;
}
input[id=s-txt]+label{
    font-size:1.8rem;
    padding-left:15px;
}
.m-login-group{
    position:absolute;
    /* border:1px solid red; */
    bottom:30px;
    width:100%;
    text-align:center;
    right:0;
}
.m-login-group a{
    color:black;
    font-size:1.1rem;
}





/* 콘텐츠 */


section{
    width:100%;
    /* border:1px solid black; */
}

#main-section{
    width:100%;
    /* border:1px solid yellow; */
    height:680px;
}
.main-slide{
    display:none;
}
.m-main-slide{
    width:100%;
    /* border:1px solid red; */
    height:65%;
}



.m-main-slide .swiper-slide{
    width:100%;
    /* border:1px solid red; */
    overflow:hidden;
}
.m-main-slide .swiper-slide img{
    width:100%;
    object-fit:cover;
    min-height:450px;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev{
    color:#b9b9b9;
    font-size:5rem;
}
.swiper-pagination-bullet-active{
    background-color:whitesmoke;
}
.main-fixed{
    width:100%;
    /* border:1px solid blue; */
    background-color:#5A4C78;
    text-align:center;
    height:35%;
}
.main-fixed-title h2{
    padding-top:55px;
    font-size:2.5rem;
    color:whitesmoke;
    font-weight:bold;
}
.main-fixed-title p{
    width:90%;
    font-size:1.3rem;
    font-weight:600;
    margin:20px auto 0;
    color:whitesmoke;
}






#sub-banner-section{
    width:90%;
    margin:200px auto 0;
    /* border:1px solid black; */
}
#sub-banner-section>h2{
    font-size:2rem;
    width:100%;
    text-align:center;
    margin-bottom:3px;
}
#sub-banner-section>p{
    font-size:1.1rem;
    width:100%;
    text-align:center;
    margin-bottom:50px;
    color:gray;
}
.sub-banner{
    width:100%;
}
.banner-left{
    width:100%;
    /* border:1px solid black; */
    margin-bottom:50px;
}
.banner-left a{
    width:100%;
}
.banner-left a img{
    width:100%;
}
.waffle-brand{
    text-align:center;
    margin-top:15px;
    font-weight:300;
    font-size:1.1rem;
    letter-spacing:1px;
}
.banner-left h2{
    text-align:center;
    font-size:2rem;
    font-weight:bold;
}
.waffle-exp{
    text-align:center;
    font-size:1.1rem;
    color:#505050;
    margin-top:10px;
}
.waffle-arrow{
    margin-left:5px;
    font-size:1.2rem;
}
.waffle-c{
    color:gray;
    text-align:center;
    margin-top:5px;
}
.banner-right{
    width:100%;
    /* border:1px solid black; */
}
.banner-right a{
    width:100%;
}
.banner-right a img{
    width:100%;
}
.nature-brand{
    text-align:center;
    margin-top:15px;
    font-weight:300;
    font-size:1.1rem;
    letter-spacing:1px;
}
.banner-right h2{
    text-align:center;
    font-size:2rem;
    font-weight:bold;
}
.nature-exp{
    text-align:center;
    font-size:1.1rem;
    color:#505050;
    margin-top:10px;
}
.nature-arrow{
    margin-left:5px;
    font-size:1.2rem;
}
.nature-c{
    color:gray;
    text-align:center;
    margin-top:5px;
}









.full-bg{
    width:100%;
    height:100%;
    background-color:transparent;
    position:absolute;
    top:0;
    left:0;
}
.full-bg:hover{
    background-color:rgba(0, 0, 0, 0.1);
}












#best-section{
    width:90%;
    margin:150px auto 0;
    /* border:1px solid black; */
}
#best-section>h2{
    font-size:2rem;
    width:100%;
    text-align:center;
    margin-bottom:3px;
}
#best-section>p{
    font-size:1.1rem;
    width:100%;
    text-align:center;
    margin-bottom:50px;
    color:gray;
}
.best-content{
    width:100%;
    text-align:center;
}
.more{
    border:none;
    width:75px;
    height:35px;
    text-align:center;
    margin-top:10px;
    font-size:1.1rem;
    font-weight:500;
    background-color:whitesmoke;
    color:#505050;
    border-radius:5px;
    
}
.more.active{
    display:none;
}
.fold{
    border:none;
    width:77px;
    height:35px;
    background-color:whitesmoke;
    text-align:center;
    margin:10px auto 0;
    font-size:1.1rem;
    font-weight:500;
    display:none;
    color:#505050;
    border-radius:5px;
}
.fold.active{
    display:block;
}
.best-top{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:auto;
    margin-top:50px;
}
.best-top>div{
    width:46%;
    /* border:1px solid black; */
    margin:25px 0;
    position:relative;
    overflow:hidden;
}
.best-top>div a{
    display:inline-block;
    width:100%;
    text-align:left;
}
.best-top img{
    width:100%;
}
.best-brand{
    margin-top:10px;
    font-size:0.9rem;
    letter-spacing:1px;
    font-weight:300;
}
.best-top h3{
    font-size:1.1rem;
    margin-top:7px;
    font-weight:600;
}
.hit{
    background-color:#303033;
    width:50px;
    color:white;
    text-align:center;
    font-size:0.9rem;
    margin-top:10px;
}
.best-price{
    font-size:1.1rem;
    /* border:1px solid red; */
    margin-top:20px;
    font-weight:600;
    position:relative;
}
.best-price:after{
    content:"";
    width:100%;
    border:1px solid rgba(221, 221, 221, 0.7);
    position:absolute;
    top:-10px;
    left:0;
}
.best-bottom{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:auto;
    margin-bottom:10px;
    display:none;
}
.best-bottom.active{
    display:flex;
}
.best-bottom div{
    width:46%;
    /* border:1px solid black; */
    margin:25px 0;
}
.best-bottom>div a{
    display:inline-block;
    width:100%;
    text-align:left;
}
.best-bottom img{
    width:100%;
}
.best-bottom h3{
    font-size:1.1rem;
    margin-top:7px;
    font-weight:600;
}







#brand-section{
    width:100%;
    margin-top:150px;
}
#brand-section>a{
    display:inline-block;
    width:100%;
    position:relative;
    margin-bottom:35px;
}
#brand-section>a img{
    width:100%;
}
.brand-bg{
    width:100%;
    height:100%;
    background-color:transparent;
    position:absolute;
    top:0;
    left:0;
}
.brand-bg:hover{
    background-color:rgba(0, 0,0, 0.1);
}
.brand-ex{
    width:90%;
    margin:40px auto 0;
    text-align:center;
}
.brand-ex img{
    width:100%;
}
.brand-title{
    font-size:2rem;
    width:100%;
    text-align:center;
    margin-bottom:3px;
}
.brand-title-p{
    font-size:1.1rem;
    width:100%;
    text-align:center;
    margin-bottom:50px;
    color:gray;
}
.brand-mp{
    text-align:center;
    font-size:1.3rem;
    color:#505050;
    margin-top:20px;
    font-weight:600;
}
.brand-mp-p{
    text-align:center;
    font-size:1.1rem;
    color:#505050;
    margin-top:5px;
}







#recommend-section{
    width:90%;
    margin:200px auto 0;
    /* border:1px solid black; */
}
#recommend-section>h2{
    font-size:2rem;
    width:100%;
    text-align:center;
    margin-bottom:3px;
}
#recommend-section>p{
    font-size:1.1rem;
    width:100%;
    text-align:center;
    margin-bottom:50px;
    color:gray;
}
.recommend-wrap{
    width:100%;
}
.recommend-box{
    width:100%;
    /* border:1px solid black; */
    margin-bottom:50px;
}
.recommend-box a{
    width:100%;
}
.recommend-box a img{
    width:100%;
}
.brown-brand{
    text-align:center;
    margin-top:15px;
    font-weight:300;
    font-size:1.1rem;
    letter-spacing:1px;
}
.recommend-box h2{
    text-align:center;
    font-size:1.6rem;
    font-weight:bold;
    margin-top:5px;
}
.brown-exp{
    text-align:center;
    font-size:1.1rem;
    color:#505050;
    margin-top:10px;
}
.brown-arrow{
    margin-left:5px;
    font-size:1.2rem;
}
.brown-c{
    color:gray;
    text-align:center;
    margin-top:5px;
}
.darkbrown-brand{
    text-align:center;
    margin-top:15px;
    font-weight:300;
    font-size:1.1rem;
    letter-spacing:1px;
}
.darkbrown-exp{
    text-align:center;
    font-size:1.1rem;
    color:#505050;
    margin-top:10px;
}
.darkbrown-arrow{
    margin-left:5px;
    font-size:1.2rem;
}
.darkbrown-c{
    color:gray;
    text-align:center;
    margin-top:5px;
}
.blue-brand{
    text-align:center;
    margin-top:15px;
    font-weight:300;
    font-size:1.1rem;
    letter-spacing:1px;
}
.blue-exp{
    text-align:center;
    font-size:1.1rem;
    color:#505050;
    margin-top:10px;
}
.blue-arrow{
    margin-left:5px;
    font-size:1.2rem;
}
.blue-c{
    color:gray;
    text-align:center;
    margin-top:5px;
}







#sale-section{
    width:100%;
    margin:150px auto 0;
    /* border:1px solid black; */
}
.eng{
    font-size:2rem;
    width:100%;
    text-align:center;
    margin-bottom:3px;
}
.kor{
    font-size:1.1rem;
    width:100%;
    text-align:center;
    margin-bottom:50px;
    color:gray;
}
.saleSwiper-wrap{
    width:100%;
    margin:auto;
}
.saleSwiper{
    padding-bottom:75px;
}
.saleSwiper-wrap .swiper-button-next,
.saleSwiper-wrap .swiper-button-prev{
    display:none;
}
.saleSwiper .swiper-slide{
    display:flex;
    flex-direction:column;
}
.saleSwiper h3{
    font-size:1.2rem;
    margin-top:12px;
}
.saleSwiper p{
    font-size:1.2rem;
    margin-top:3px;
}

.saleSwiper a{
    text-align:left;
}


.sale-brand{
    padding-top:10px;
    font-size:0.9rem;
    letter-spacing:1px;
    font-weight:300;
}
.saleSwiper a h3{
    font-size:1.1rem;
    margin-top:7px;
    font-weight:600;
}
.sale-price-group{
    position:relative;
    width:100%;
    display:flex;
    margin-top:20px;
}
.sale-price-group:after{
    content:"";
    width:100%;
    border:1px solid rgba(221, 221, 221, 0.7);
    position:absolute;
    top:-10px;
    left:0;
}
.discount{
    color:red;
    font-weight:600;
}
.sale-price{
    font-size:1.1rem;
    /* border:1px solid red; */
    font-weight:600;
    padding:0 12px 0 15px;
}
.cost{
    color:darkgray;
    text-decoration:line-through;
    font-size:0.8rem;
}






















footer{
    width:100%;
    margin-top:200px;
    /* border:1px solid black; */
    background-color:#e7e7e7;
    line-height:180%;
    font-weight:400;
    color:#505050;
}

#footer-left{
    width:100%;
    /* border:1px solid red; */
    margin:45px 0;
    padding-top:50px;
}
#footer-right{
    width:100%;
    /* border:1px solid blue; */
    padding-left:35px;
    padding-bottom:30px;
    line-height:175%;
}
#footer-right h2{
    display:none;
}
.footer-customer{
    width:100%;
    /* border:1px solid black; */
    /* text-align:center; */
    padding-left:35px;
}
.footer-customer h2{
    margin:10px 0;
    font-size:2rem;
}
.footer-customer p{
    font-size:1.3rem;
    line-height:170%;
}
.terms{
    text-align:center;
    margin-top:10px;
    padding-right:35px;
}
.terms>a{
    /* color:white; */
}
.footer-txt1{
    width:100%;
    display:flex;
}
.footer-txt2{
    width:100%;
    display:flex;
}
.txt1-1{
    margin-right:15px;
}
.txt2-1{
    margin-right:15px;
}
.copyright{
    text-align:center;
    margin-top:50px;
    padding-right:35px;
}




















/* ************swiper************ */


.mySwiper {
    width: 100%;
    height: 100%;
  }

  .saleSwiper{
    width:88%;
    height:100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height:100%;
    object-fit:cover;
  }




@media screen and (min-width:640px){






    .main-fixed-title h2{
        font-size:3rem;
        font-weight:500;

    }
    .main-fixed-title p{
        font-size:1.5rem;
        font-weight:600;
        margin-top:30px;
    }
    footer{
        text-align:center;
    }
    .footer-txt1,
    .footer-txt2{
        justify-content:center;
    }

}

@media screen and (min-width:768px){

    .m-main-slide .swiper-slide img{
        width:100%;
        object-fit:cover;
        /* border:1px solid green; */
    }
    .m-main-slide-title h2{
        font-size:3.3rem;
    }
    .m-main-slide-title p{
        width:400px;
        font-size:1.4rem;
    }






    #sub-banner-section{
        width:90%;
        margin:200px auto 0;
        /* border:1px solid black; */
    }
    .sub-banner{
        width:100%;
        display:flex;
        justify-content:space-around;
    }
    .banner-left{
        width:48%;
        /* border:1px solid black; */
    }
    .waffle-exp{
        width:80%;
        margin:10px auto 0;
    }
    .banner-right{
        width:48%;
        /* border:1px solid black; */
    }
    .nature-exp{
        width:80%;
        margin:10px auto 0;
    }



    
    






    #best-section{
        width:90%;
        margin:100px auto 0;
        max-width:1280px;
    }

    .best-top>div{
        width:23.5%;
    }
    .best-bottom>div{
        width:23.5%;
    }
    .more{
        display:none;
    }
    .fold{
        display:none;
    }
    .best-bottom{
        display:flex;
        width:100%;
    }




    .recommend-wrap{
        display:flex;
    }
    .recommend-box{
        padding:5px;
    }


}

@media screen and (min-width:1024px){
    html,body{
        font-size:16px;
    }
    header{
        /* border:1px solid blue; */
        width:100%;
        height:160px;
        position:relative;

    }
    #header-container{
        width:100%;
        height:67%;
        /* border:1px solid yellow; */
        position:relative;
    }
    #logo-section{
        width:100%;
        /* border:1px solid black; */
    }
    h1{
        width:230px;
        /* border:1px solid red; */
        position:absolute;
        top:12%;
        left:50%;
        transform:translate(-50%,0);
        padding-left:0;
    }
    .hamburger{
        display:none;
    }
    #m-menu-group{
        display:none;
    }
    #icon-nav{
        /* border:1px solid red; */
        width:200px;
        display:flex;
        justify-content:center;
        position:absolute;
        top:18%;
        right:0;
    }
    #icon-nav a{
        /* border:1px solid black; */
        font-size:2rem;
        width:50px;
        height:50px;
        text-align:center;

    }

    #desk-nav{
        /* border:1px solid red; */
        width:68%;
        display:flex;
        justify-content:space-around;
        padding-left:40px;
        margin:auto;
        position:relative;
    }
    .desk-nav-wrap{
        width:100%;
        height:53px;
        /* border:1px solid orange; */
        z-index:99999;
        position:absolute;
        bottom:0;
    }
    .desk-nav-wrap.active{
        position:fixed;
        top:0;
        background-color:#5A4C78;
    }
    .desk-nav-wrap.active .menu>a{
        color:whitesmoke;
        font-weight:500;
    }
    .menu{
        /* border:1px solid purple; */
        display:flex;
        flex-direction:column;
        width:15%;
    }
    .menu>a{
        /* border:1px solid yellow; */
        font-weight:600;
        width:100%;
        height:50px;
        color:#303033;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .menu>a:nth-child(1){
        position:relative;
    }
    .preparing{
        position:absolute;
        top:-45px;
        background-color:rgb(221, 239, 255); 
        padding:10px;
        border-radius:15px;
        font-size:0.9rem;
        display:none;
    }
    .preparing:after{
        content:"";
        position:absolute;
        top:95%;
        right:10%;
        border-style:solid;
        border-width:10px;
        border-color:rgb(221, 239, 255) transparent transparent transparent;
    }
    .drop-down{
        position:absolute;
        left:0;
        top:90%;
        height:300px;
        /* border:1px solid orange; */
        width:100%;
        display:none;
        z-index:999999999;
    }
    .full-back{
        width:100%;
        height:300px;
        border:1px solid #e7e7e7;
        position:absolute;
        top:53px;
        left:0;
        display:none;
        z-index:999999998;
        box-shadow:0 20px 20px -20px gray;
        /* background-color:#c2c0e2; */
        background-color:white;
        border-radius:0 0 20px 20px;
    }

    .drop-down-group{
        /* border:1px solid black; */
        display:flex;
        align-items:center;
        width:100%;
        height:100%;
        justify-content:space-around;
    }
    .drop-down-txt{
        width:22%;
        height:220px;
        /* border:1px solid pink; */
        border-radius:5px;
        margin-right:100px;
        display:flex;
        flex-direction:column;
        position:absolute;
        top:30px;
        left:50px;
    }
    .drop-down-txt>a{
        /* border:1px solid gray; */
        color:black;
        font-size:1rem;
        font-weight:400;
        text-align:left;
        margin-bottom:3px;
        padding:5px;
    }
    .drop-down-txt>a:nth-child(1){
        font-size:1.2rem;
        font-weight:500;
        position:relative;
        margin-bottom:20px;
    }
    .drop-down-txt>a:nth-child(1):after{
        content:"";
        width:100%;
        border:1px solid #e7e7e7;
        position:absolute;
        bottom:-10px;
        left:0;
    }
    .drop-down-img{
        width:25%;
        /* border:1px solid gray; */
        position:absolute;
        top:20px;
        right:250px;
    }
    .drop-down-img-section{
        /* border:1px solid pink; */
        margin:auto;
        width:400px
    }
    .drop-down-img-section img{
        width:100%;
        object-fit:contain;
    }

    



    /* 콘텐츠 */

    #main-section{
        height:660px;
        min-height:660px;
        /* border:1px solid black; */
    }
    .mySwiper .swiper-button-next{
        right:50px;
    }
    .mySwiper .swiper-button-prev{
        left:50px;
    }
    .m-main-slide{
        display:none;
    }
    .main-slide{
        display:block;
        width:100%;
        height:100%;
        margin:0;
        position:relative;
    }
    .main-slide .swiper-slide{
        width:100%;
        /* border:1px solid red; */
        overflow:hidden;
    }
    .main-slide a{
        width:100%;
        display:inline-block;
    }
    .main-slide .swiper-slide img{
        width:100%;
        object-fit:cover;
        min-height:660px;
    }
    .main-slide-title{
       position:absolute;
       left:0;
       top:0;
       width:100%;
       height:100%;
       text-align:left;
       background:linear-gradient(to right, white, transparent);
       display:block;
       padding-left:135px;
    }
    .main-slide-title h2{
        font-size:2.7rem;
        font-weight:500;
        color:#47503a;
        padding-top:240px;
        padding-bottom:10px;
        
    }
    .main-slide-title p{
        font-size:1.1rem;
        font-weight:500;
        color:#47503a;
        padding-left:10px;
        /* border:1px solid black; */
    }
    .main-fixed{
        display:none;
    }

    .m-main-slide{
        width:100%;
        /* border:1px solid red; */
        height:60%;
    }
    .m-main-slide-title{
        display:none;
    }
    
    
    






    #sub-banner-section{
        width:90%;
        margin:200px auto 0;
    }
    #sub-banner-section>h2{
        font-size:1.6rem;
        font-weight:700;
    }
    #sub-banner-section>p{
        font-size:1rem;
        margin-top:5px;
    }
    .waffle-brand{
        font-size:0.9rem;
        color:black;
        font-weight:300;
    }
    .banner-left h2{
        font-size:1.8rem;
        font-weight:bold;
    }
    .banner-left>a:hover .ws{
        font-size:2rem;
    }
    .waffle-exp{
        font-size:1rem;
    }
    .waffle-c{
        font-size:0.9rem;
    }
    .nature-brand{
        font-size:0.9rem;
        color:black;
        font-weight:300;
    }
    .banner-right h2{
        font-size:1.8rem;
        font-weight:bold;
    }
    .banner-right>a:hover .ns{
        font-size:2rem;
    }
    .nature-exp{
        font-size:1rem;
    }
    .nature-c{
        font-size:0.9rem;
    }







    #best-section{
        width:90%;
        /* border:1px solid black; */
    }

    #best-section>h2{
        font-size:1.6rem;
        font-weight:700;
    }
    #best-section>p{
        font-size:1rem;
        margin-top:5px;
    }
    .best-top h3{
        font-size:1rem;
    }
    .best-top p{
        font-size:1rem;
    }
    .best-bottom h3{
        font-size:1rem;
    }
    .best-bottom p{
        font-size:1rem;
    }
    .best-top>div{
        width:22%;
    }
    .best-bottom>div{
        width:22%;
    }





    #brand-section{
        margin-top:200px;
    }
    .brand-ex{
        width:90%;
        margin:100px auto 0;
    }
    .brand-title{
        font-size:1.6rem;
        font-weight:700;
    }
    .brand-title-p{
        font-size:1rem;
        margin-top:5px;
    }
    .brand-mp{
        font-size:1.2rem;
        font-weight:600;
        margin-top:30px;
    }
    .brand-mp br{
        display:none;
    }
    .brand-mp-p{
        font-size:1rem;
    }





    #recommend-section{
        width:90%;
        margin:200px auto 0;
    }
    #recommend-section>h2{
        font-size:1.6rem;
        font-weight:700;
    }
    #recommend-section>p{
        font-size:1rem;
        margin-top:5px;
    }
    .brown-brand{
        font-size:0.9rem;
        color:black;
        font-weight:300;
    }
    .recommend-box h2{
        font-size:1.5rem;
        font-weight:bold;
    }
    .box-bb a:hover .bb{
        font-size:1.7rem;
    }
    .brown-exp{
        font-size:1rem;
    }
    .brown-c{
        font-size:0.9rem;
    }
    .darkbrown-brand{
        font-size:0.9rem;
        color:black;
        font-weight:300;
    }
    .box-db a:hover .db{
        font-size:1.7rem;
    }
    .darkbrown-exp{
        font-size:1rem;
    }
    .darkbrown-c{
        font-size:0.9rem;
    }
    .blue-brand{
        font-size:0.9rem;
        color:black;
        font-weight:300;
    }
    .box-blb a:hover .blb{
        font-size:1.7rem;
    }
    .blue-exp{
        font-size:1rem;
    }
    .blue-c{
        font-size:0.9rem;
    }










    #sale-section{
        margin:150px auto 0;
    }
    .eng{
        font-size:1.6rem;
        font-weight:700;
    }
    .kor{
        font-size:1rem;
        margin-top:5px;
    }
    .saleSwiper-wrap{
        position:relative;
    }
    .saleSwiper-wrap .swiper-button-next,
    .saleSwiper-wrap .swiper-button-prev{
        display:block;
        font-size:0.5rem;
        color:gray;
        position:absolute;
        top:30%;
    }
    .saleSwiper .swiper-scrollbar{
        display:none;
    }
    .saleSwiper h3{
        font-size:0.95rem;
    }
    .saleSwiper p{
        font-size:0.95rem;
    }






    footer{
        display:flex;
        align-items:center;
        flex-direction:row-reverse;
        position:relative;
        line-height:180%;
        text-align:left;
        padding:70px 50px;
    }
   
    .copyright{
        position:absolute;
        bottom:20px;
        left:50%;
        transform:translate(-50%,0);
        padding-right:0;
    }
    .terms{
        position:absolute;
        bottom:50px;
        left:50%;
        transform:translate(-50%,0);
        margin-top:10px;
        padding-right:0;
    }




    #footer-left{
        width:50%;
        /* border:1px solid red; */
        margin:0 0 80px 50px;
        padding-top:0;
    }
    #footer-right{
        width:50%;
        /* border:1px solid blue; */
        padding-left:0;
        padding-bottom:0;
        margin:0 0 80px 50px;
        font-size:0.9rem;
    }
    #footer-right h2{
        font-size:2.5rem;
        margin-bottom:50px;
        margin-top:20px;
        display:block;
        text-align:left;
    }
    .footer-customer{
        width:100%;
        /* border:1px solid black; */
        /* text-align:center; */
        padding-left:0;
    }
    .footer-customer h2{
        font-size:1.8rem;
    }
    .footer-customer p{
        font-size:1.1rem;
        line-height:170%;
    }
    .footer-txt1{
        width:100%;
        display:flex;
        justify-content:left;
    }
    .footer-txt2{
        width:100%;
        display:flex;
        justify-content:left;
    }
    .txt1-1{
        margin-right:15px;
    }
    .txt2-1{
        margin-right:15px;
    }





    
}

@media screen and (min-width:1280px){







    /* 콘텐츠 */

    .main-slide-title h2{
        font-size:2.8rem;
    }
    .main-slide-title p{
        width:350px;
    }






 









    .saleSwiper-wrap .swiper-button-next,
    .saleSwiper-wrap .swiper-button-prev{
        top:35%;
    }







}

@media screen and (min-width:1440px){






    .drop-down-txt{
        left:100px;
    }




    /* 콘텐츠 */




    #main-section{
        height:100%;
        max-height:700px;
    }

    .main-slide img{
        max-height:700px;
    }

    .main-slide-title{
        width:70%;
        height:100%;
        text-align:left;
        padding-left:230px;
     }
     .main-slide-title h2{
         font-size:3.2rem;
         font-weight:500;
         padding-top:250px;
         padding-bottom:10px;
     }
     .main-slide-title p{
         font-size:1.2rem;
         line-height:180%;
         padding-left:10px;
         /* border:1px solid black; */
         display:inline-block;
         width:50%;
     }



    #sub-banner-section{
        width:100%;
        max-width:1300px;
        margin:300px auto 0;
    }




    #best-section{
        width:100%;
        max-width:1300px;
        margin:200px auto 0;
    }
    .best-top>div{
        width:22%;
    }
    .best-bottom>div{
        width:22%;
    }



    #brand-section{
        margin-top:300px;
    }
    .brand-ex{
        width:100%;
        max-width:1280px;
        margin:150px auto 0;
    }




    #recommend-section{
        width:100%;
        max-width:1300px;
        margin:250px auto 0;
    }









    #sale-section{
        width:100%;
        max-width:1500px;
    }
    .saleSwiper-wrap{
        position:relative;
        width:95%;
    }
    .saleSwiper-wrap .swiper-button-next,
    .saleSwiper-wrap .swiper-button-prev{
        top:34%;
    }
    #sale-section h3{
        font-size:1rem;
    }
    #sale-section p{
        font-size:1rem;
    }




    #footer-right{
        padding-left:250px;
    }






    












   





    



    
}