@charset "utf-8";


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


    border-radius:100%;
    overflow:hidden;
    max-width:300px;
    max-height:300px;
    position:relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }






.section{
    width:90%;
}

main{
    width:100%;
    max-width:1300px;
    margin:auto;
}



main>h2{
    width:100%;
    text-align:center;
    font-size:1.5rem;
    margin-top:20px;
    margin-bottom:65px;
    font-weight:600;
}


#menu-position{
    width:90%;
    margin:auto;
    position:relative;
    /* border:1px solid black; */
}
#menu-tab{
    width:80%;
    max-height:200px;
    margin:0 auto 75px;
    /* border:1px solid black; */
}
/* #menu-position:after{
    content:"";
    position:absolute;
    border:1px solid #e7e7e7;
    left:50%;
    transform:translate(-50%,0);
    bottom:-5%;
    width:85%;
} */
.swiper-button-next{
    position:absolute;
    color:darkgray;
}
.swiper-button-prev{
    position:absolute;
    color:darkgray;
}
.swiper-slide a{
    position:relative;
}
.swiper-slide p{
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translate(-50%,0);
    font-weight:600;
    font-size:1.2rem;
    background-color:white;
    border-radius:5px;
}




#sort{
    width:87%;
    /* border:1px solid black; */
    margin:auto;
    display:flex;
    justify-content:flex-end;
    margin-bottom:5px;
}
.sort{
    width:110px;
    height:25px;
    color:gray;
}





#list{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}
#list div img{
    width:100%;
}
#list div{
    width:48%;
    margin:30px 0;
    position:relative;
}
#list div a{
    display:inline-block;
    width:100%;
    height:100%;
    /* border:1px solid black; */
}
.like-x{
    background-color:transparent;
    border:none;
    font-size:2rem;
    position:absolute;
    top:15px;
    right:15px;
    cursor:pointer;
}
.like-o{
    background-color:transparent;
    border:none;
    font-size:2rem;
    position:absolute;
    top:15px;
    right:15px;
    display:none;
    cursor:pointer;
}
.product{
    width:100%;
    text-align:center;
    font-size:1.2rem;
    margin-top:20px;
    margin-bottom:30px;
    position:relative;
}
.product:after{
    position:absolute;
    content:"";
    border:1px solid rgba(204, 204, 204, 0.7);
    width:85%;
    bottom:-15px;
    left:50%;
    transform:translate(-50%,0);
}
.x-price{
    width:100%;
    text-align:center;
    font-size:1rem;
    margin-bottom:7px;
    color:gray;
    text-decoration:line-through;
}
.o-price{
    width:100%;
    text-align:center;
    font-size:1.1rem;
    margin-bottom:20px;
    font-weight:600;
}




#page-button{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:200px;
}
.page-number{
    margin:0 10px;
    font-size:1.2rem;
}
.page-number a{
    display:inline-block;
    padding:5px;
}
.page-left{
    font-size:1.5rem;
}
.page-right{
    font-size:1.5rem;
}








@media screen and (min-width:640px){
    .swiper-button-next{
        right:20px;
    }
    .swiper-button-prev{
        left:20px;
    }


    #menu-position{
        margin-top:80px;
        margin-bottom:180px;
    }



    #sort{
        margin-bottom:10px;
    }
    .sort{
        width:130px;
        height:25px;
    }





}
@media screen and (min-width:768px){


/*     #menu-position:after{
        content:"";
        position:absolute;
        border:1px solid rgb(194, 193, 193);
        left:50%;
        transform:translate(-50%,0);
        bottom:-100px;
        width:90%;
    } */


    .swiper-button-next{
        right:30px;
    }
    .swiper-button-prev{
        left:30px;
    }



    #sort{
        width:85%;
        margin-bottom:20px;
    }
    .sort{
        width:140px;
        height:25px;
    }




    #list{
        width:85%;
        margin-bottom:20px;
    }
    #list div{
        width:47%;
        margin:30px 0;
    }

    .page-number{
        margin:0 10px;
        font-size:1.3rem;
    }
    .page-number a{
        display:inline-block;
        padding:6px;
    }
    .page-left{
        font-size:1.7rem;
    }
    .page-right{
        font-size:1.7rem;
    }

}
@media screen and (min-width:1024px){













    main>h2{
        margin-top:80px;
        margin-bottom:100px;
    }



    .swiper-button-next{
        right:40px;
    }
    .swiper-button-prev{
        left:40px;
    }


    #menu-tab{
        margin:0 auto 250px;
        /* border:1px solid black; */
    }
/*     #menu-position:after{
        content:"";
        position:absolute;
        border:1px solid rgb(194, 193, 193);
        left:50%;
        transform:translate(-50%,0);
        bottom:-120px;
        width:90%;
    } */



    #sort{
        width:85%;
    }


    .like-x{
        font-size:1.8rem;
    }
    .like-o{
        font-size:1.8rem;
    }



    #list{
        width:85%;
        margin-bottom:30px;
    }
    #list div{
        width:23%;
    }
    .product{
        font-size:1rem;
    }








    .page-number{
        margin:0 10px;
        font-size:1.1rem;
    }
    .page-number a{
        display:inline-block;
    }
    .page-left{
        font-size:1.4rem;
    }
    .page-right{
        font-size:1.4rem;
    }





}
@media screen and (min-width:1280px){
    .swiper-button-next{
        right:50px;
    }
    .swiper-button-prev{
        left:50px;
    }
}
@media screen and (min-width:1440px){



    #menu-tab{
        width:100%;
    }
/*     #menu-position:after{
        content:"";
        position:absolute;
        border:1px solid rgb(194, 193, 193);
        left:50%;
        transform:translate(-50%,0);
        bottom:-150px;
        width:85%;
    } */




    #sort{
        width:100%;
    }



    #list{
        width:100%;
        margin-bottom:50px;
    }
    #list div{
        width:23%;
    }






}